{% extends "autism/base.html" %}
{% load static %}
 
{% block extrahead %}
<link rel="stylesheet" href="{% static "autism/blog_style.css" %}" />
{% endblock extrahead %}

{% block content %}

<main>
    <!-- Article One -->
    <div class="container">
        <div class="blog">
          <div class="img1"></div>
          <div class="blog-name">
            <div class="blog-category">Blog</div>
            <h2>Autism is my son's superpower!</h2>
            <div class="details">
              <a href="https://autismjourney.org/autism-is-my-sons-superpower/" target="_blank"><h4>Read More..</h4></a>
            </div>
          </div>
        </div>
      </div>
    
      <br>
    
    <!-- Article Two -->
      <div class="container">
          <div class="blog">
            <div class="img2"></div>
            <div class="blog-name">
              <div class="blog-category">Blog</div>
              <h2>Autism doesn't define us-Autism Journey</h2>
              <div class="details">
                <a href="https://autismjourney.org/tips-to-keep-your-family-healthy-and-active/" target="_blank"><h4>Read More..</h4></a>
              </div>
            </div>
          </div>
        </div>
    
        <br>
    
    <!-- Article Three -->
      <div class="container">
          <div class="blog">
          <div class="img3"></div>
          <div class="blog-name">
              <div class="blog-category">Blog</div>
              <h2>Autism Parenting Advice</h2>
              <div class="details">
              <a href="https://autismjourney.org/tips-to-keep-your-family-healthy-and-active/" target="_blank"><h4>Read More..</h4></a>
              </div>
          </div>
          </div>
      </div>
    
    <br>
    
    <!-- Article Four -->
    <div class="container">
      <div class="blog">
        <div class="img4"></div>
        <div class="blog-name">
          <div class="blog-category">Blog</div>
          <h2>Join Autism Parenting Magazine</h2>
          <div class="details">
            <a href="https://www.autismparentingmagazine.com/" target="_blank"><h4>Read More..</h4></a>
          </div>
        </div>
      </div>
    </div>
    
    
    <br>
    
    
    <!-- Article Five -->
    <div class="container">
      <div class="blog">
        <div class="img5"></div>
        <div class="blog-name">
          <div class="blog-category">Blog</div>
          <h2>Rainbows are too beautiful</h2>
          <div class="details">
            <a href="http://www.rainbowsaretoobeautiful.com/" target="_blank"><h4>Read More..</h4></a>
          </div>
        </div>
      </div>
    </div>
    
    
    <br>
    
    <!-- Article Six -->
    <div class="container">
      <div class="blog">
        <div class="img6"></div>
        <div class="blog-name">
          <div class="blog-category">Blog</div>
          <h2>Clinics should put more effort</h2>
          <div class="details">
            <a href="https://www.spectrumnews.org/opinion/clinicians-must-put-more-effort-into-autism-specific-medical-care/" target="_blank"><h4>Read More..</h4></a>
          </div>
        </div>
      </div>
    </div>
        </main>
    
    
{% endblock content %}