{% extends "autism/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "autism/game_style.css" %}" />
{% endblock extrahead %}

{% block content %}
<main>
<!-- Game One -->
<div class="container">
    <div class="game">
      <div class="img1"></div>
      <div class="game-name">
        <div class="game-category">Games</div>
        <h2>Subtraction game</h2>
        <div class="details">
          <a href="https://www.abcya.com/games/subtraction_game" target="_blank"><h4>Play game..</h4></a>
        </div>
      </div>
    </div>
  </div>

  <br>

<!-- Game Two -->
  <div class="container">
      <div class="game">
        <div class="img2"></div>
        <div class="game-name">
          <div class="game-category">Games</div>
          <h2>A Short hike</h2>
          <div class="details">
            <a href="https://ashorthike.com/" target="_blank"><h4>Play game..</h4></a>
          </div>
        </div>
      </div>
    </div>

    <br>

<!-- Game Three -->
  <div class="container">
      <div class="game">
      <div class="img3"></div>
      <div class="game-name">
          <div class="game-category">Games</div>
          <h2>Calculate Fractions</h2>
          <div class="details">
          <a href="https://www.abcya.com/games/adding_fractions?fbclid=IwAR3acKu1xz6do-oAn0uczqDAo9R6n3wmWJ1XnuHD5eNbd_BLwFX0sddtIZ8"  target="_blank"><h4>Play game..</h4></a>
          </div>
      </div>
      </div>
  </div>

<br>


<!-- Game Four-->
<div class="container">
  <div class="game">
    <div class="img5"></div>
    <div class="game-name">
      <div class="game-category">Games</div>
      <h2>Calendar Game</h2>
      <div class="details">
        <a href="https://www.abcya.com/games/calendar_word_problems?fbclid=IwAR3OUSeIEfZWsxfhLAmMhs8lYnCJcxhuDW-ZQmK3rElgQoaQ-UyU5w5w9ew" target="_blank"><h4>Play game..</h4></a>
      </div>
    </div>
  </div>
</div>


<br>

<!-- Game Five -->
<div class="container">
  <div class="game">
    <div class="img6"></div>
    <div class="game-name">
      <div class="game-category">Games</div>
      <h2>Donut County</h2>
      <div class="details">
        <a href="http://donutcounty.com/"target="_blank"><h4>Play game..</h4></a>
      </div>
    </div>
  </div>
</div>
    </main>
{% endblock content %}